@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.spinner_zWVm {
  animation:
    spinner_5QiW 1.2s linear infinite,
    spinner_PnZo 1.2s linear infinite;
}
.spinner_gfyD {
  animation:
    spinner_5QiW 1.2s linear infinite,
    spinner_4j7o 1.2s linear infinite;
  animation-delay: 0.1s;
}
.spinner_T5JJ {
  animation:
    spinner_5QiW 1.2s linear infinite,
    spinner_fLK4 1.2s linear infinite;
  animation-delay: 0.1s;
}
.spinner_E3Wz {
  animation:
    spinner_5QiW 1.2s linear infinite,
    spinner_tDji 1.2s linear infinite;
  animation-delay: 0.2s;
}
.spinner_g2vs {
  animation:
    spinner_5QiW 1.2s linear infinite,
    spinner_CMiT 1.2s linear infinite;
  animation-delay: 0.2s;
}
.spinner_ctYB {
  animation:
    spinner_5QiW 1.2s linear infinite,
    spinner_cHKR 1.2s linear infinite;
  animation-delay: 0.2s;
}
.spinner_BDNj {
  animation:
    spinner_5QiW 1.2s linear infinite,
    spinner_Re6e 1.2s linear infinite;
  animation-delay: 0.3s;
}
.spinner_rCw3 {
  animation:
    spinner_5QiW 1.2s linear infinite,
    spinner_EJmJ 1.2s linear infinite;
  animation-delay: 0.3s;
}
.spinner_Rszm {
  animation:
    spinner_5QiW 1.2s linear infinite,
    spinner_YJOP 1.2s linear infinite;
  animation-delay: 0.4s;
}
@keyframes spinner_5QiW {
  0%,
  50% {
    width: 7.33px;
    height: 7.33px;
  }
  25% {
    width: 1.33px;
    height: 1.33px;
  }
}
@keyframes spinner_PnZo {
  0%,
  50% {
    x: 1px;
    y: 1px;
  }
  25% {
    x: 4px;
    y: 4px;
  }
}
@keyframes spinner_4j7o {
  0%,
  50% {
    x: 8.33px;
    y: 1px;
  }
  25% {
    x: 11.33px;
    y: 4px;
  }
}
@keyframes spinner_fLK4 {
  0%,
  50% {
    x: 1px;
    y: 8.33px;
  }
  25% {
    x: 4px;
    y: 11.33px;
  }
}
@keyframes spinner_tDji {
  0%,
  50% {
    x: 15.66px;
    y: 1px;
  }
  25% {
    x: 18.66px;
    y: 4px;
  }
}
@keyframes spinner_CMiT {
  0%,
  50% {
    x: 8.33px;
    y: 8.33px;
  }
  25% {
    x: 11.33px;
    y: 11.33px;
  }
}
@keyframes spinner_cHKR {
  0%,
  50% {
    x: 1px;
    y: 15.66px;
  }
  25% {
    x: 4px;
    y: 18.66px;
  }
}
@keyframes spinner_Re6e {
  0%,
  50% {
    x: 15.66px;
    y: 8.33px;
  }
  25% {
    x: 18.66px;
    y: 11.33px;
  }
}
@keyframes spinner_EJmJ {
  0%,
  50% {
    x: 8.33px;
    y: 15.66px;
  }
  25% {
    x: 11.33px;
    y: 18.66px;
  }
}
@keyframes spinner_YJOP {
  0%,
  50% {
    x: 15.66px;
    y: 15.66px;
  }
  25% {
    x: 18.66px;
    y: 18.66px;
  }
}
